.header {
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 24px;
}

.logo-text .title {
  display: block;
  font-size: 16px;
  color: var(--title);
  letter-spacing: -0.5px;
}

.logo-text .description {
  font-size: 11px;
  color: var(--text);
}
