.header {
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon.icon-wrapper {
  background-color: var(--green);
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-icon.icon-wrapper svg {
  width: 22px;
  height: 22px;
}

.logo-text .title {
  font-family: "Playfair Display", serif;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: var(--title);
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.logo-text .description {
  font-size: 12px;
  color: var(--text);
}
